@page "/Account/ConfirmEmail"

@if (_isLoading)
{
    <p><em>Loading...</em></p>
}
else
{
    <IdentityUI.Components.Alert AlertMessage="_alertMessage" />

    @if (_isEmailConfirmed)
    {
        <IdentityUI.Components.LoginForm />
    }
}
